<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="common_css(title)">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title th:replace="${title}">Department Add Page</title>
		<link rel="shortcut icon" type="image/x-icon" th:href = "@{/static/images/logoes/way.ico}" media="screen" />
		<link rel = "stylesheet" th:href = "@{/static/css/bootstrap.min.css}" media="screen"/>
		<!-- fontawesome -->
		<link rel = "stylesheet" th:href = "@{/static/css/all.css}" media="screen"/>
		<!--/* Per-page placeholder for additional links */-->
    	<!--th:block th:replace="${link}" /-->
	</head>
<body>
</body>
</html>